# Datensätze
default_of_credit_card_clients.csv
*.data
*.parquet
*.zip
*.data

# Python
__pycache__/
*.pyc
*.pyo
.env

# Mac
.DS_Store

# CodeCarbon Output
emissions.csv
powermetrics_log.txt

# IDE
.vscode/
.idea/